<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<div ng-controller="calc">
		<input type="text" ng-model="userInput"><br />
		<h3>{{ answer(userInput) }}</h3>
		<input type="text" ng-model="name">
	</div>
	<hr />
	<div ng-controller="StringReverse">
		<h2>Reverse your string</h2>
		<input type="text" ng-model="usersStringToReverse">
		<p>{{ strReverse(usersStringToReverse) }}</p>
	</div>
	
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>